- simple_form_for @accounting_transaction do |f|
  = f.error_messages

  = f.input :title
  = f.input :creditor_id, :collection => Account.all, :value_method => :id
  = f.input :debitor_id, :collection => Account.all, :value_method => :id
  = f.input :amount
  = f.input :date
  = f.input :status
  = f.input :description
  .actions
    = f.submit 'Save'