- title

%table
  %tr
    %th= t('activerecord.attributes.accounting_transaction.title')
    %th= t('activerecord.attributes.accounting_transaction.creditor')
    %th= t('activerecord.attributes.accounting_transaction.debitor')
    %th= t('activerecord.attributes.accounting_transaction.date')
    %th= t('activerecord.attributes.accounting_transaction.status')
    %th
    %th
    %th

  - @accounting_transactions.each do |accounting_transaction|
    %tr
      %td= accounting_transaction.title
      %td= accounting_transaction.creditor.name
      %td= accounting_transaction.debitor.name
      %td= l(accounting_transaction.date)
      %td= accounting_transaction.status
      %td= link_to t('navigation.show'), accounting_transaction
      %td= link_to t('navigation.edit'), edit_accounting_transaction_path(accounting_transaction)

%br

= link_to t('accounting_transactions.new.title'), new_accounting_transaction_path
