%table
  %th
    %td= t("models.#{class_name}.plural")
  - accounts.each do |a|
    %tr[a]
      %td= link_to a.name, a
      %td= number_to_brl_currency(a.balance)
  %tr.total
    %td= t("helpers.#{class_name}.total")
    %td= number_to_brl_currency(accounts.sum(&:balance))