%h1 Listing accounts

%table
  %tr
    %th Name
    %th Type
    %th Balance
    %th
    %th
    %th

  - @accounts.each do |account|
    %tr
      %td= account.name
      %td= account.type
      %td= number_to_brl_currency(account.balance)
      %td= link_to 'Show', account
      %td= link_to 'Edit', edit_account_path(account)
      %td= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New account', new_account_path
