- title
%table
  %tr
    %th= t('activerecord.attributes.account.name')
    %th= t('activerecord.attributes.account.type')
    %th= t('activerecord.attributes.account.balance')
    %th
    %th

  - @accounts.each do |account|
    %tr
      %td= account.name
      %td= t("activerecord.models.#{account.type.underscore}")
      %td= number_to_brl_currency(account.balance)
      %td= link_to t('navigation.show'), account
      %td= link_to t('navigation.edit'), edit_account_path(account)

%br

= link_to t('formtastic.actions.open_account'), new_account_path
