%h1 New account

- form_for @account do |f|
  = f.error_messages

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :opening_balance
    = f.text_field :opening_balance
  .field
    = f.label :opening_date
    = f.date_select :opening_date
  .field
    = f.label :type
    = @account.class
    - Account.types.each do |type|
      = radio_button_tag :type, type, @account.class.to_s == type
      = f.label "type_#{type}", t("models.#{type}")
  .actions
    = f.submit 'Save'

= link_to 'Back', accounts_path
