%h1 New account

- simple_form_for @account do |f|
  = f.error_messages
  = f.input :name
  = f.input :type, :collection => Account.types, :as => :radio, :label_method => :to_s, :value_method => :to_s
  = f.submit

= link_to 'Back', accounts_path
