%p
  %b Name:
  = @account.name
%p
  %b Opening balance:
  = number_to_brl_currency(@account.opening_balance)
%p
  %b Opening date:
  = @account.opening_date
%p
  %b Type:
  = @account.type
%p
  %b Balance:
  = number_to_brl_currency(@account.balance)

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
