%p
  %b= t('helpers.account_type', :type => t("activerecord.models.#{@account.type.to_s.underscore}"))
  = @account.name
%p
  %b= t('activerecord.attributes.account.balance')
  = number_to_brl_currency(@account.balance)

= link_to t('navigation.edit'), edit_account_path(@account)
\|
= link_to t('navigation.back'), accounts_path
