%p
  %b Name:
  = @account.name
  %b Type:
  = @account.type
%p
  %b Balance:
  = number_to_brl_currency(@account.balance)

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
